<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>zakk.lol.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>BAGE</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Zakk. All rights reserved.</string>
	<key>OSAScriptingDefinition</key>
	<string>SASyphonInjector.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>SASIchbf</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>SASIhandleChbf</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SASIfast</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>SASIhandleFast</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SASIflip</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>SASIhandleFlip</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SASIinjc</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>SASIhandleInject</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SASIofst</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>SASIhandleOfst</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SASIqury</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>SASIhandleQuery</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SASIreso</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>SASIhandleReso</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
